<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="tests" thread-count="1">
	<test name="Windows_Chrome_Test">
		<parameter name="platform" value="Windows" />
		<parameter name="browserName" value="Chrome" />
		<classes>
			<class name="testscript.TestGoogle" >
				<methods>
					<include name="testGoogle" />
				</methods>
			</class>
		</classes>
	</test>
	<!-- 
	<test name="Windows_Firefox_Test">
			<parameter name="platform" value="Windows" />
			<parameter name="browserName" value="Firefox" ></parameter>
		<classes>
			<class name="testscript.TestGoogle" />
		</classes>
	</test>  -->
</suite> <!-- Suite -->
